<!-- <mat-toolbar color="black">
    <span>Welcome to Comic Flick!</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/movies">Home</button>
    <button mat-menu-item routerLink="/profile">Profile</button>
    <button mat-menu-item routerLink="/welcome">Log out</button>
  </mat-menu> -->

<div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <mat-card *ngFor="let movie of movies;" style="flex: 0 0 calc(25% - 20px); margin: 10px; display: flex; flex-direction: column; align-items: center;">
        <mat-card-header style="text-align: center;">
        <mat-card-title>{{movie.title}}</mat-card-title>
            <mat-card-subtitle>Directed by: {{movie.director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.imagePath}} alt= {{movie.title}} style="max-width: 300px; max-height: 300px;  align-self: center;"/>
        <mat-card-content>Synopsis: {{movie.description}}</mat-card-content>
        <mat-card-actions style="text-align: center;">
            <!-- <button
                mat-button
                color="primary"
                routerLink="/movies"
            >
                Back
            </button> -->
            <mat-icon>favorite_border</mat-icon>
        </mat-card-actions>
    </mat-card>
</div>
