<mat-toolbar color="black">
    <span>Welcome to Comic Flick!</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/movies">Home</button>
    <button mat-menu-item routerLink="/profile">Profile</button>
    <button mat-menu-item routerLink="/welcome">Log out</button>
  </mat-menu>

<div>
  <h1 class="form-title">User Info</h1>
  <form [formGroup]="updateForm" class="form">
    <div>
      <label>Username</label>
      <input formControlName="userName" type="text" class="form-control">
    </div>

    <div>
      <label>Password</label>
      <input formControlName="password" type="text" class="form-control">
    </div>

    <div>
      <label>Birthday</label>
      <input formControlName="birthday" type="date" class="form-control">
    </div>

    <div>
      <label>Email</label>
      <input formControlName="email" type="email" class="form-control">
    </div>

    <button class="btn btn-primary" type="submit" (click)="updateUser()">Update</button>
    <button class="btn btn-primary" type="submit" (click)="deleteUser()">Deregister</button>
  </form>
</div>

<div>
  <h2 class="favorite-title">Favorite Movies</h2>
  <!-- <p>{{user.FavoriteMovies}}</p> -->
</div>